In [1]:
import requests
import json
import math
from bs4 import BeautifulSoup as bs
import re
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [31]:
df = pd.read_csv("Zip_ZriPerSqft_AllHomes.csv")

In [32]:
# df["RegionName"] = df["RegionName"].astype(str).str.zfill(5)
# df.sort_values("RegionName")
# def zillowELT(df,typ_inp,srch_inp):
typ_inp = "City"
srch_inp="chicopee"

df = df.rename(columns = {"RegionName":"Zip"})
df["Zip"] = df["Zip"].astype(str).str.zfill(5)
typ = typ_inp
srch = srch_inp.split(",")
#inputs to match regardless of space and capital letters
srch = [x.upper() for x in srch]
srch = [x.replace(" ","") for x in srch]
df[typ] = df[typ].astype(str).str.upper().str.replace(" ","")
df = df[df[typ].isin(srch)]
df["name"] = df[typ].astype(str) + " : " + df["Zip"].astype(str)
df = df.groupby("name").mean().T
#converting Jan-10 to datetime as 2010-01-01
df.index = pd.to_datetime(df.index,format = "%b-%y",errors = "coerce")
df = df[df.index.isnull()==False]
# df = zillowELT(df,"City","chicago")
df

name        CHICOPEE : 01013  CHICOPEE : 01020  CHICOPEE : 01022
2010-11-01             1.044             1.072             1.164
2010-12-01             1.048             1.074             1.166
2011-01-01             1.056             1.080             1.166
2011-02-01             1.070             1.090             1.164
2011-03-01             1.068             1.086             1.136
2011-04-01             1.060             1.078             1.098
2011-05-01             1.052             1.074             1.072
2011-06-01             1.056             1.082             1.062
2011-07-01             1.066             1.094             1.058
2011-08-01             1.066             1.096             1.056
2011-09-01             1.062             1.090             1.068
2011-10-01             1.046             1.070             1.080
2011-11-01             1.028             1.046             1.096
2011-12-01             1.014             1.030             1.102
2012-01-01             1.012             1.028             1.108
2012-02-01             1.014             1.034             1.100
2012-03-01             1.016             1.038             1.092
2012-04-01             1.014             1.040             1.094
2012-05-01             1.014             1.038             1.106
2012-06-01             1.018             1.038             1.120
2012-07-01             1.032             1.046             1.120
2012-08-01             1.052             1.062             1.114
2012-09-01             1.072             1.078             1.108
2012-10-01             1.078             1.086             1.110
2012-11-01             1.072             1.078             1.110
2012-12-01             1.052             1.062             1.100
2013-01-01             1.028             1.038             1.092
2013-02-01             1.010             1.028             1.094
2013-03-01             0.998             1.024             1.102
2013-04-01             0.982             1.018             1.108
...                      ...               ...               ...
2017-01-01             1.170             1.182             1.220
2017-02-01             1.170             1.182             1.220
2017-03-01             1.168             1.182             1.224
2017-04-01             1.168             1.180             1.232
2017-05-01             1.172             1.184             1.244
2017-06-01             1.184             1.196             1.260
2017-07-01             1.196             1.216             1.276
2017-08-01             1.206             1.230             1.292
2017-09-01             1.208             1.236             1.300
2017-10-01             1.204             1.230             1.304
2017-11-01             1.202             1.222             1.308
2017-12-01             1.198             1.212             1.300
2018-01-01             1.198             1.208             1.278
2018-02-01             1.198             1.206             1.250
2018-03-01             1.200             1.206             1.230
2018-04-01             1.202             1.208             1.218
2018-05-01             1.204             1.208             1.214
2018-06-01             1.206             1.208             1.214
2018-07-01             1.206             1.208             1.216
2018-08-01             1.204             1.208             1.214
2018-09-01             1.204             1.208             1.212
2018-10-01             1.206             1.212             1.220
2018-11-01             1.220             1.232             1.250
2018-12-01             1.250             1.264             1.288
2019-01-01             1.278             1.296             1.320
2019-02-01             1.296             1.314             1.328
2019-03-01             1.298             1.314             1.328
2019-04-01             1.294             1.308             1.326
2019-05-01             1.272             1.282             1.308
2019-06-01             1.248             1.254             1.292

[104 rows x 3 columns]

In [3]:
con = create_engine("sqlite:///zip_data.sqlite")
con2 = create_engine("sqlite:///zip_data2.sqlite")

In [28]:
df = pd.read_sql("area",con2)
df0 = pd.read_sql("crime",con)
print(len(df),len(df0))

63519 47794

In [11]:
df0.to_csv("zip_crime(bu).csv",index=False)

In [53]:
url = "http://www.mapszipcode.com/state/city/60607/"
response = requests.get(url)
soup = bs(response.text, 'html.parser')
# divs = soup.find_all("div", {"class": "dat"})
divs = soup.find_all("div", class_="dat")
population = int(str(divs[0]).split(">")[1].split("<")[0].replace(",",""))
density = float(str(divs[1]).split(">")[1].split("	")[0].replace(",",""))
area = population/density
radius = math.sqrt(area)/2*1.6
radius

1.2186287534192979

In [31]:
population

In [45]:
divs

[<div class="dat">70,447</div>,
 <div class="dat">6,929.67					<sub>/ sqml.</sub>
 </div>,
 <div class="dat">$274,200</div>,
 <div class="dat">$1,145</div>]

In [86]:
def google_usa(zip_list,pois):
    records = pd.DataFrame()
    gkey = "AIzaSyA-Rjp6nOeJp6815Xt1Kkuxc5XKMiKl_yA"
#     srch_list = ["91765","60607"]
    # srch_list = ["walnut high school","235 west van buren"]
#     pois = "restaurants,subway station"
#     radius = 15000
    pois = pois.split(",")
    for s in zip_list:
        target_url = (f'https://maps.googleapis.com/maps/api/geocode/json?address={s}&key={gkey}')
        geo_data = requests.get(target_url).json()
        target_adr = geo_data["results"][0]["formatted_address"]
        target_zip = target_adr[-10:][:5]
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]
        target_coordinates = str(lat) + "," + str(lng)
        link = geo_data["results"][0]["place_id"]
        center_df = pd.DataFrame({"center":[s],"zip":[target_zip],"poi":["YOU ARE HERE"],"name":["YOU ARE HERE"],"address":[target_adr],"link":[link],"Y":[float(lat)],"X":[float(lng)]})
        records = records.append(center_df)
        
        #get radius of each zip
        url = f"http://www.mapszipcode.com/state/city/{s}/"
        response = requests.get(url)
        soup = bs(response.text, 'html.parser')
        # divs = soup.find_all("div", {"class": "dat"})
        divs = soup.find_all("div", class_="dat")
        population = int(str(divs[0]).split(">")[1].split("<")[0].replace(",",""))
        density = float(str(divs[1]).split(">")[1].split("	")[0].replace(",",""))
        try:
            area = population/density
        except ZeroDivisionError:
            area = 0
        radius = int(math.sqrt(area)/2*1600)
        
        for poi in pois:
            params = {
                "location": target_coordinates,
                "keyword": poi,
                "radius": radius,
            #     "type": target_type,
                "key": gkey
            }

            # base url
            base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

            # run a request using our params dictionary
            response = requests.get(base_url, params=params)
            places_data = response.json()
            n=0
            # while int(n) > len(places_data):
            while int(n) < len(places_data["results"]):
                try:
                    price=places_data["results"][int(n)]["price_level"]
                except KeyError:
                    price = "NA"
                try:
                    link=places_data["results"][int(n)]["place_id"]
                except KeyError:
                    link = "NA"
                try:
                    score = places_data["results"][int(n)]["rating"]
                except KeyError:
                    score = "NA"
                try:
                    reviews = int(places_data["results"][int(n)]["user_ratings_total"])
                except KeyError:
                    reviews = "NA"
                try:
                    lat1 = places_data["results"][int(n)]["geometry"]["location"]["lat"]
                except KeyError:
                    lat1 = "NA"
                try:
                    lng1 = places_data["results"][int(n)]["geometry"]["location"]["lng"]
                except KeyError:
                    lng1 = "NA"
                content = pd.DataFrame ({"center":target_adr,"zip":target_zip,"poi":poi,
                                    "name":[places_data["results"][int(n)]["name"]],
                                    "score":score,
                                     "reviews":reviews,
                                     "price":price,
                                     "link":link,
                                    "address":[places_data["results"][int(n)]["vicinity"]],
                                         "Y":[lat1],
                                         "X":[lng1]
            #                        "distance":distance,
            #                         "drive":duration,
            #                         "public":transit_dur,
            #                         "walk":walk_dur
                                        })
                records = records.append(content)
                n+=1
    records.reset_index(drop = True,inplace = True)
    records = records[["center","zip","poi","name","score","reviews","price","price","link","address","X","Y"]]
    records["link"]=records["link"].apply(lambda x: '<a href="https://www.google.com/maps/place/?q=place_id:{0}">link</a>'.format(x))
    return(records)

In [107]:
api = google_usa(["91765","60607"],"restaurant,supermarket")
api = api[api["poi"]!="YOU ARE HERE"]

In [127]:
count_df = api.pivot_table(fill_value=0,index = "zip",columns = ["poi"], values="reviews",aggfunc=["mean","count"])["count"].reset_index()
mean_df = api.pivot_table(fill_value=0,index = "zip",columns = ["poi"], values="reviews",aggfunc=["mean","sum"])["mean"].reset_index()

In [128]:
df = pd.merge(count_df,mean_df,on="zip",suffixes=["_count","_mean"])

In [26]:
df

,zip,sales,restaurant_count,starbucks_count,supermarket_count,restaurant_mean,starbucks_mean,supermarket_mean,violent crime,property crime
0,94103,1095.335505,20,5,19,558.70,249.800000,476.263158,65.9,87.6
1,94105,1421.508035,20,13,5,706.05,115.076923,120.000000,33.7,70.0
2,94107,1092.781582,20,6,8,608.05,203.166667,537.625000,43.9,81.1
3,94109,1200.000000,20,7,20,642.05,289.000000,225.450000,50.9,83.5
4,94110,1001.225375,20,2,15,829.50,309.500000,298.333333,47.2,82.1
5,94112,789.333333,20,0,15,272.30,0.000000,290.333333,39.4,79.2
6,94114,1203.174603,20,2,10,582.45,309.500000,193.100000,37.2,78.8
7,94115,1156.716418,20,6,7,499.75,106.000000,608.285714,48.8,82.7
8,94116,908.363636,20,1,7,233.25,66.000000,225.428571,33.8,67.7
9,94117,1043.175487,20,5,11,761.10,152.200000,331.363636,40.3,80.4
10,94118,1081.564246,20,2,12,411.00,514.500000,211.583333,41.0,80.4
11,94121,932.870835,20,0,7,483.55,0.000000,287.428571,40.8,80.1
12,94122,860.997067,20,3,10,426.35,206.000000,227.000000,36.5,78.8
13,94123,1260.784642,20,4,3,525.10,238.500000,528.666667,40.8,80.6
14,94124,692.421286,20,1,5,231.30,340.000000,263.200000,59.1,84.8
15,94127,947.619048,20,4,10,204.05,195.750000,302.700000,27.6,53.9
16,94131,1014.095536,20,3,10,250.80,164.000000,376.100000,36.7,75.2
17,94133,1245.152355,20,5,8,1655.40,409.800000,201.875000,52.6,83.7
18,94134,787.864247,20,0,6,115.50,0.000000,305.333333,43.9,80.5

In [49]:
x = df.columns[2:]
y = df.columns[1]

from pandas import DataFrame
from sklearn import linear_model
import statsmodels.api as sm

X = df[x]
Y = df[y]

regr = linear_model.LinearRegression()
regr.fit(X, Y)

intercept = regr.intercept_
coef = list(regr.coef_)
regr_df = pd.DataFrame()
index = ["intercept"] + list(x)
coef = [intercept] + coef
regr_df["index"] = index
regr_df["coef"] = coef
regr_df
regr.score(X,Y)

0.6193299434989001

In [50]:
print("\n df \n df")

 df
 df

In [48]:
import pandas as pd
df = pd.read_csv("regression.csv")

In [23]:
import statsmodels.api as sm
df0 = df.copy()
# x = ["intercept"] + list(df0.columns[2:])
x=df0.columns[2:]
y = df0.columns[1]

# df0['intercept']=1
lm=sm.OLS(df0[y],df0[x])
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  sales   R-squared:                       0.781
Model:                            OLS   Adj. R-squared:                  0.642
Method:                 Least Squares   F-statistic:                     5.609
Date:                Tue, 14 Jan 2020   Prob (F-statistic):            0.00595
Time:                        23:50:20   Log-Likelihood:                -111.39
No. Observations:                  19   AIC:                             238.8
Df Residuals:                      11   BIC:                             246.3
Df Model:                           7
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
restaurant_count     29.4268     16.882      1.743      0.109      -7.730      66.583
starbucks_count      38.5492      9.847      3.915      0.002      16.875      60.223
supermarket_count     0.7709      6.182      0.125      0.903     -12.836      14.377
restaurant_mean       0.1699      0.104      1.640      0.129      -0.058       0.398
starbucks_mean        0.2756      0.223      1.233      0.243      -0.216       0.767
supermarket_mean      0.2443      0.229      1.069      0.308      -0.259       0.748
violent crime        -8.7712      5.035     -1.742      0.109     -19.853       2.310
property crime        5.8212      6.040      0.964      0.356      -7.473      19.116
intercept             1.4713      0.844      1.743      0.109      -0.386       3.329
==============================================================================
Omnibus:                        0.202   Durbin-Watson:                   2.847
Prob(Omnibus):                  0.904   Jarque-Bera (JB):                0.322
Skew:                          -0.202   Prob(JB):                        0.851
Kurtosis:                       2.507   Cond. No.                     6.01e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.7e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [144]:
results.summary()

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 2 samples were given.
  "samples were given." % int(n), ValueWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       restaurant_count   R-squared:                        -inf
Model:                            OLS   Adj. R-squared:                   -inf
Method:                 Least Squares   F-statistic:                    -0.000
Date:                Tue, 14 Jan 2020   Prob (F-statistic):                nan
Time:                        23:08:04   Log-Likelihood:                 61.179
No. Observations:                   2   AIC:                            -118.4
Df Residuals:                       0   BIC:                            -121.0
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
intercept             0.0045        inf          0        nan         nan         nan
restaurant_count      0.0901        inf          0        nan         nan         nan
supermarket_count     0.0544        inf          0        nan         nan         nan
restaurant_mean       0.1669        inf          0        nan         nan         nan
supermarket_mean     -0.2261        inf         -0        nan         nan         nan
intercept             0.0045        inf          0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.040
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.333
Skew:                           0.000   Prob(JB):                        0.846
Kurtosis:                       1.000   Cond. No.                         31.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The input rank is higher than the number of observations.
"""