In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests

In [37]:
con_us = create_engine("sqlite:///us_db.sqlite")

In [38]:
df = pd.read_sql("city",con_us)

In [40]:
df[df["state"]=="NY"]

        zip                 city state    lat    lon
0     00501           Holtsville    NY  40.81 -73.04
1     00544           Holtsville    NY  40.81 -73.04
2277  06390       Fishers Island    NY  41.27 -71.99
3699  10001             New York    NY  40.75 -74.00
3700  10002             New York    NY  40.71 -73.99
3701  10003             New York    NY  40.73 -73.99
3702  10004             New York    NY  40.69 -74.02
3703  10005             New York    NY  40.71 -74.01
3704  10006             New York    NY  40.71 -74.01
3705  10007             New York    NY  40.71 -74.01
3706  10008             New York    NY  40.71 -73.99
3707  10009             New York    NY  40.73 -73.98
3708  10010             New York    NY  40.74 -73.98
3709  10011             New York    NY  40.74 -74.00
3710  10012             New York    NY  40.73 -74.00
3711  10013             New York    NY  40.72 -74.00
3712  10014             New York    NY  40.73 -74.01
3713  10015             New York    NY  40.71 -74.00
3714  10016             New York    NY  40.75 -73.98
3715  10017             New York    NY  40.75 -73.97
3716  10018             New York    NY  40.76 -73.99
3717  10019             New York    NY  40.77 -73.99
3718  10020             New York    NY  40.76 -73.98
3719  10021             New York    NY  40.77 -73.96
3720  10022             New York    NY  40.76 -73.97
3721  10023             New York    NY  40.78 -73.98
3722  10024             New York    NY  40.80 -73.97
3723  10025             New York    NY  40.80 -73.97
3724  10026             New York    NY  40.80 -73.95
3725  10027             New York    NY  40.81 -73.95
...     ...                  ...   ...    ...    ...
5874  14871            Pine City    NY  42.03 -76.86
5875  14872          Pine Valley    NY  42.24 -76.87
5876  14873          Prattsburgh    NY  42.52 -77.29
5877  14874             Pulteney    NY  42.53 -77.18
5878  14876       Reading Center    NY  42.43 -76.93
5879  14877             Rexville    NY  42.08 -77.66
5880  14878          Rock Stream    NY  42.47 -76.92
5881  14879               Savona    NY  42.28 -77.22
5882  14880                 Scio    NY  42.17 -77.97
5883  14881  Slaterville Springs    NY  42.40 -76.36
5884  14882              Lansing    NY  42.58 -76.55
5885  14883              Spencer    NY  42.21 -76.49
5886  14884                Swain    NY  42.48 -77.88
5887  14885           Troupsburg    NY  42.04 -77.54
5888  14886          Trumansburg    NY  42.54 -76.66
5889  14887               Tyrone    NY  42.40 -77.05
5890  14889            Van Etten    NY  42.19 -76.55
5891  14891         Watkins Glen    NY  42.38 -76.87
5892  14892              Waverly    NY  42.01 -76.52
5893  14893                Wayne    NY  42.47 -77.11
5894  14894            Wellsburg    NY  42.01 -76.72
5895  14895           Wellsville    NY  42.12 -77.94
5896  14897          Whitesville    NY  42.03 -77.80
5897  14898             Woodhull    NY  42.08 -77.40
5898  14901               Elmira    NY  42.09 -76.75
5899  14902               Elmira    NY  42.08 -76.80
5900  14903               Elmira    NY  42.13 -76.87
5901  14904               Elmira    NY  42.08 -76.80
5902  14905               Elmira    NY  42.09 -76.84
5903  14925               Elmira    NY  42.08 -76.80

[2208 rows x 5 columns]

In [2]:
def key(key):
    #API keys
    if key == "gkey":
        key = "AIzaSyCx9a5SZ-y42Wu2fQeqmHsfKFRk4djJsAs"
    elif key == "kkey":
        key = "KakaoAK 8809fcb48aa9900788adbd9f162c6b25"
    elif key == "ptoken":
        key = "pk.eyJ1IjoidGl2bWU3IiwiYSI6ImNrMWEwZDVtNDI4Zm4zYm1vY3o3Z25zejEifQ._yTPkj3nXTzor72zIevLCQ"
    return(key)

In [33]:
gkey = key("gkey")
target_url = (f'https://maps.googleapis.com/maps/api/geocode/json?address={"classic bowl"}&key={gkey}')
geo_data = requests.get(target_url).json()

geo_data["results"][0]["formatted_address"][-10:-5]

In [36]:
if len(df) >0:
    print("d")

NameError: name 'df' is not defined