In [1]:
import requests
import json
import math
from bs4 import BeautifulSoup as bs
import re
import numpy as np
import pandas as pd

In [2]:
from flask_sqlalchemy import *#SQLAlchemy
from sqlalchemy import create_engine
import sqlite3

# # #Connecting to sqlite
# conn = sqlite3.connect('zip_data.sqlite')

# #Creating a cursor object using the cursor() method
# cursor = conn.cursor()

# #Doping EMPLOYEE table if already exists
# cursor.execute("DROP TABLE area")
# print("Table dropped... ")

# #Commit your changes in the database
# conn.commit()

# #Closing the connection
# conn.close()

In [37]:
con = create_engine("sqlite:///zip_data2.sqlite")

In [38]:
df = pd.read_sql("area",con)

In [28]:
# zips = []
# for n in range(1001,99950+1):
#     n = str(n).zfill(5)
#     zips.append(n)
# print(len(zips))

In [34]:
con0 = create_engine("sqlite:///us_db.sqlite")
ref = pd.read_sql("city",con0)
ref = ref[ref["zip"].astype(int)>=1000]
ref = list(ref["zip"])
ref = pd.DataFrame({"zip":ref})

#to get zip codes already in database
exist = pd.read_sql("area",con)
exist = list(exist["zip"])
#zips already in database will have exist value of 1, if not NaN
exist = pd.DataFrame({"zip":exist,"exist":1})

#merge on reference dataframe
zips_srch = pd.merge(ref,exist,on="zip",how="left")
#excluding rows where exist = 1
zips_srch = zips_srch[zips_srch["exist"].isnull()]
zips = list(zips_srch["zip"])

In [10]:
# try:
#     area = pd.read_sql("area",con)
#     zip_exist = list(area["zip"])

#     # excluding zipcodes that are already in the database
#     # zips_o = [x for x in zips if x not in zip_exist]
#     zips_df = pd.DataFrame({"zips":zips})
#     exist_df = pd.DataFrame({"zips":zip_exist,"exist":1})
#     zips_df = pd.merge(zips_df,exist_df, how="left",on = "zips")
#     # exist_df
#     zips = list(zips_df[zips_df["exist"].isnull()]["zips"])
#     print(len(zips))
# except OperationalError:
#     print("none")

25412

In [11]:
for z in zips:
    url = f"http://www.mapszipcode.com/state/city/{z}/"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    # divs = soup.find_all("div", {"class": "dat"})
    divs = soup.find_all("div", class_="dat")
    try:
        population = int(str(divs[0]).split(">")[1].split("<")[0].replace(",",""))
    except ValueError:
        population = np.nan
    try:
        density = float(str(divs[1]).split(">")[1].split("	")[0].replace(",",""))
    except ValueError:
        density = np.nan
    try:
        med_home_value = float(str(divs[2]).split(">")[1].split("<")[0].replace(",","").replace("$",""))
    except ValueError:
        med_home_value = np.nan
    try:
        med_rent = float(str(divs[3]).split(">")[1].split("<")[0].replace(",","").replace("$",""))
    except ValueError:
        med_rent = np.nan
    # area = population/density
    # radius = math.sqrt(area)/2*1.6
    apnd = pd.DataFrame({"zip":[z],"population":[population],"density":[density],"med_home_value":[med_home_value],"med_rent":[med_rent]})
    apnd.to_sql("area",con,if_exists="append",index=False)

In [39]:
df = pd.read_sql("area",con)

In [41]:
df.dropna(inplace=True)

In [52]:
df.to_sql("home",con0,if_exists="replace",index=False)

In [44]:
df1 = pd.read_sql("area",con0)

In [45]:
df2 = pd.read_sql("area2",con0)

In [51]:
df2

         zip  population  density  med_home_value  med_rent
0      01001       17380  1518.93        216300.0     848.0
1      01002       28718   521.75        343500.0    1092.0
2      01005        5120   115.73        226500.0     775.0
3      01007       14593   277.20        268400.0     895.0
4      01008        1160    21.56        257100.0     870.0
5      01010        3610   103.91        257500.0     917.0
6      01011        1326    41.94        206900.0     715.0
7      01012         506    38.57        240200.0     936.0
8      01013       21822  3879.88        181000.0     767.0
9      01020       30893  2476.53        185500.0     772.0
10     01022        2611   548.81        131800.0    1492.0
11     01026        1066    44.41        279000.0     717.0
12     01027       17622   435.10        236500.0     875.0
13     01028       15710  1207.88        266500.0     660.0
14     01030       11096   934.99        250600.0     820.0
15     01031        1547   191.17        226300.0     748.0
16     01032         626    53.19        241000.0     881.0
17     01033        6197   222.71        240900.0     685.0
18     01034        1952    27.29        289100.0    1014.0
19     01035        5239   226.94        335900.0     850.0
20     01036        5096   261.25        277000.0     702.0
21     01038        2676   267.66        299200.0     869.0
22     01039        1532   116.00        296800.0     732.0
23     01040       39996  1879.45        189300.0     666.0
24     01050        2670    69.66        225300.0     678.0
25     01053        1926   375.34        281900.0     938.0
26     01054        1812    79.45        332700.0    1116.0
27     01056       21146   777.28        226200.0     847.0
28     01057        8511   189.53        245200.0     851.0
29     01060       15065  1379.86        306100.0     946.0
...      ...         ...      ...             ...       ...
27263  99780        1569     1.28        160200.0     685.0
27264  99782         645    35.96        110700.0     840.0
27265  99784         164   239.56         75000.0    1091.0
27266  99785         337   136.05        129200.0     717.0
27267  99786         240     0.03         78300.0    1167.0
27268  99788          59     6.96        112500.0     263.0
27269  99789         487     0.52         99300.0     936.0
27270  99791         290     0.34        119600.0     736.0
27271  99801       29356    13.38        305600.0    1219.0
27272  99820         427     0.45        150000.0     688.0
27273  99824        2263  1310.36        281400.0    1096.0
27274  99825          67     0.18        625000.0     714.0
27275  99826         511     0.16        225700.0     794.0
27276  99827        2629     1.53        173200.0     832.0
27277  99829         760   102.26        157800.0     788.0
27278  99830         413     1.52         86800.0     398.0
27279  99832         110     0.59        254500.0     880.0
27280  99833        3380     1.26        217700.0     800.0
27281  99835        8909     5.52        319500.0    1144.0
27282  99840        1050     2.32        306200.0    1038.0
27283  99841         138     9.67        205800.0     833.0
27284  99901       13577     2.83        262200.0    1009.0
27285  99918         102     2.78        184400.0     800.0
27286  99919         558    11.54        179500.0     835.0
27287  99921        2031     1.00        184700.0     794.0
27288  99922         411     3.58         78700.0     625.0
27289  99923          77     5.55         57700.0     482.0
27290  99925         673    12.06        173600.0     750.0
27291  99926        1624    12.23        109800.0     653.0
27292  99929        2361     1.09        163400.0     759.0

[27293 rows x 5 columns]