In [11]:
import requests
import json
import math
from bs4 import BeautifulSoup as bs
import re
import numpy as np
import pandas as pd

In [12]:
from flask_sqlalchemy import *#SQLAlchemy
from sqlalchemy import create_engine
import sqlite3

# #Connecting to sqlite
# conn = sqlite3.connect('zip_data.sqlite')

# #Creating a cursor object using the cursor() method
# cursor = conn.cursor()

# #Doping EMPLOYEE table if already exists
# cursor.execute("DROP TABLE crime")
# print("Table dropped... ")

# #Commit your changes in the database
# conn.commit()

# #Closing the connection
# conn.close()

In [12]:
df = pd.read_html("http://www.structnet.com/instructions/zip_min_max_by_state.html")[0]

In [19]:
df.sort_values("Zip Min").head()

    ID     State Name  ST  Zip Min  Zip Max
53  44    Puerto Rico  PR        0        0
26  26  Massachusetts  MA     1001     2791
54  45   Rhode Island  RI     2801     2940
42  34  New Hampshire  NH     3031     3897
31  24          Maine  ME     3901     4992

In [18]:
df.sort_values("Zip Max",ascending=False).head()
#1001 ~ 99950

    ID  State Name  ST  Zip Min  Zip Max
0    6      Alaska  AK    99501    99950
69  53  Washington  WA    98001    99403
51  42      Oregon  OR    97001    97920
16  16      Hawaii  HI    96701    96898
5    9  California  CA    90001    96162

In [7]:
#zip range from 1001 to 99950
# zips = []
# for n in range(1001,99950+1):
#     n = str(n).zfill(5)
#     zips.append(n)
# allnum = len(zips)

# zips = pd.read_csv("zip_code_city.csv",dtype={'Zip': str})
# zips = list(zips["Zip"])
# len(zips)

42438

In [19]:
con = create_engine("sqlite:///zip_data0.sqlite")

In [20]:
df = pd.read_sql("crime",con)

In [21]:
#this is to be prepared when webscraping failed or stopped

#referring to zipcodes in density data
con0 = create_engine("sqlite:///zip_data0.sqlite")
ref = pd.read_sql("area",con0)
ref = ref[ref["zip"].astype(int)>=1000]
ref = list(ref["zip"])
ref = pd.DataFrame({"zip":ref})

#to get zip codes already in database
exist = pd.read_sql("crime",con)
exist = list(exist["zip"])
#zips already in database will have exist value of 1, if not NaN
exist = pd.DataFrame({"zip":exist,"exist":1})

#merge on reference dataframe
zips_srch = pd.merge(ref,exist,on="zip",how="left")
#excluding rows where exist = 1
zips_srch = zips_srch[zips_srch["exist"].isnull()]
zips = list(zips_srch["zip"])

In [13]:
for z in zips:
    url = f'https://www.bestplaces.net/crime/zip-code/state/city/{z}'
    response = requests.get(url)

    # Create a Beautiful Soup object
    soup = bs(response.text, 'html.parser')

    # Print all divs with col-md-12
    divs = soup.find_all("div", {"class": "col-md-12"})
    try:
        s = str(divs[1]).split("violent crime is ")[1]
        result = float(re.findall(r"[-+]?\d*\.\d+|\d+", s)[0])
    except IndexError:
        result = np.nan
    vcr = result
    try:
        s = str(divs[1]).split("property crime is ")[1]
        result = float(re.findall(r"[-+]?\d*\.\d+|\d+", s)[0])
    except IndexError:
        result = np.nan
    pcr = result
    apnd = pd.DataFrame({"zip":[z],
                        "violent crime": [vcr],
                        "property crime": [pcr]})
    #appends directly to database
    apnd.to_sql("crime",con,if_exists="append",index=False)

In [31]:
crime =  pd.read_sql("crime",con)

In [26]:
crime.drop(columns = ["index"],inplace=True)

In [30]:
crime.to_sql("crime",con,if_exists="replace",index=False)

In [33]:
crime.to_csv("zip_crime.csv",index=False)