In [128]:
import pandas as pd
import math
from sqlalchemy import create_engine

In [129]:
df = pd.read_html("http://zipatlas.com/us/zip-code-comparison/population-density.1.htm")

In [99]:
#saving column names
column = df[10][:1].values.tolist()[0]
column

['#',
 'Zip Code',
 'Location',
 'City',
 'Population',
 'People / Sq. Mile',
 'National Rank']

In [100]:
zip_df = pd.DataFrame()
for p in range(1,318+1):
    #10th table of site and reading from 2nd row since first row returns columns
    apnd = pd.read_html(f"http://zipatlas.com/us/zip-code-comparison/population-density.{p}.htm")[10][1:]
    #set columns
    apnd.columns = column
    #concat to empty dataframe created before for loop
    zip_df = pd.concat([zip_df,apnd])
    print(p)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318

In [101]:
#selecting columns to conserve
zip_df = zip_df[["Zip Code","Location","Population","People / Sq. Mile"]]

In [102]:
#renaming columns
zip_df.columns = ["zip","coordinates","population","density"]

In [103]:
#setting population and density columns as numeric values for calculation
zip_df["population"] = zip_df["population"].astype(int)
zip_df["density"] = zip_df["density"].astype(float)
zip_df.dtypes

zip             object
coordinates     object
population       int32
density        float64
dtype: object

In [104]:
#population density = population / area
zip_df["area"] = zip_df["population"] / zip_df["density"]

In [105]:
#area = pi r^2
zip_df["radius"] = (zip_df["area"]/3.14)**(.5)

In [106]:
#sort values
zip_df.sort_values("zip",inplace= True)

In [107]:
#creating sqlite database to store
con = create_engine("sqlite:///zip_data0.sqlite")
zip_df.to_sql("area",con,if_exists="replace",index=False)
#also as in csv for backup
zip_df.to_csv("zip_area.csv",index=False)

In [137]:
area = pd.read_sql("area",con)
city = pd.read_sql("city",con)

In [138]:
df = pd.merge(area,city,on="zip")
df

,zip,coordinates,population,density,area,radius,city,state,lat,lon
0,00601,"18.181560, -66.758147",19143,285.19,67.123672,4.623523,Adjuntas,PR,18.16,-66.72
1,00602,"18.358577, -67.174708",42042,1359.03,30.935299,3.138791,Aguada,PR,18.38,-67.18
2,00603,"18.452658, -67.125609",55530,1830.95,30.328518,3.107855,Aguadilla,PR,18.43,-67.15
3,00604,"18.492373, -67.138234",3923,1279.94,3.064987,0.987983,Aguadilla,PR,18.43,-67.15
4,00606,"18.173904, -66.935931",6449,176.02,36.637882,3.415862,Maricao,PR,18.18,-66.98
5,00610,"18.293389, -67.120670",27975,748.64,37.367760,3.449719,Anasco,PR,18.28,-67.14
6,00612,"18.412693, -66.703445",72730,965.30,75.344453,4.898474,Arecibo,PR,18.45,-66.73
7,00616,"18.403670, -66.664759",10532,666.66,15.798158,2.243047,Bajadero,PR,18.42,-66.67
8,00617,"18.437505, -66.559407",23370,1060.63,22.034074,2.649004,Barceloneta,PR,18.45,-66.56
9,00622,"17.988103, -67.160357",8104,258.55,31.344034,3.159458,Boqueron,PR,17.99,-67.15
10,00623,"18.082397, -67.151152",38807,948.11,40.930905,3.610446,Cabo Rojo,PR,18.08,-67.14
11,00624,"18.060879, -66.721106",26719,597.68,44.704524,3.773209,Penuelas,PR,18.06,-66.72
12,00627,"18.415030, -66.861879",35244,760.04,46.371244,3.842904,Camuy,PR,18.48,-66.84
13,00631,"18.203834, -66.864759",2188,235.84,9.277476,1.718898,Castaner,PR,18.19,-66.82
14,00637,"18.083000, -66.943336",25935,722.82,35.880302,3.380362,Sabana Grande,PR,18.08,-66.96
15,00638,"18.291074, -66.513308",19634,299.76,65.499066,4.567228,Ciales,PR,18.33,-66.47
16,00641,"18.269555, -66.705210",35015,314.35,111.388580,5.956011,Utuado,PR,18.27,-66.70
17,00646,"18.435949, -66.278379",34099,1446.34,23.576061,2.740128,Dorado,PR,18.47,-66.27
18,00647,"17.965557, -66.945483",5362,378.96,14.149251,2.122765,Ensenada,PR,17.96,-66.94
19,00650,"18.349453, -66.578059",12120,648.33,18.694184,2.439992,Florida,PR,18.36,-66.56
20,00652,"18.452224, -66.603112",2987,483.11,6.182857,1.403233,Garrochales,PR,18.45,-66.60
21,00653,"17.995409, -66.900374",16526,715.17,23.107793,2.712779,Guanica,PR,17.99,-66.89
22,00656,"18.037037, -66.792720",23072,545.39,42.303673,3.670491,Guayanilla,PR,18.02,-66.79
23,00659,"18.407397, -66.794979",38925,930.81,41.818416,3.649379,Hatillo,PR,18.48,-66.82
24,00660,"18.135593, -67.113645",16614,1495.16,11.111854,1.881172,Hormigueros,PR,18.14,-67.12
25,00662,"18.460356, -67.007868",42339,933.80,45.340544,3.799956,Isabela,PR,18.50,-67.02
26,00664,"18.210897, -66.586977",17318,388.81,44.541035,3.766304,Jayuya,PR,18.22,-66.59
27,00667,"18.016871, -67.037189",26673,439.49,60.690801,4.396394,Lajas,PR,18.04,-67.06
28,00669,"18.278219, -66.866712",32227,615.24,52.381185,4.084349,Lares,PR,18.29,-66.88
29,00670,"18.227596, -66.977580",11179,235.90,47.388724,3.884836,Las Marias,PR,18.27,-67.06
...,...,...,...,...,...,...,...,...,...,...
31769,99786,"67.091271, -157.883081",309,43.39,7.121457,1.505981,Ambler,AK,67.08,-157.90
31770,99788,"66.646693, -143.798881",83,9.58,8.663883,1.661084,Chalkyitsik,AK,66.64,-143.78
31771,99789,"69.752361, -151.954013",434,0.19,2284.210526,26.971384,Nuiqsut,AK,69.83,-152.14
31772,99791,"70.480786, -157.325459",228,5.38,42.379182,3.673766,Atqasuk,AK,70.48,-157.39
31773,99801,"58.560989, -134.706111",28624,57.82,495.053615,12.556289,Juneau,AK,58.58,-134.77
31774,99820,"57.447764, -134.490741",572,25.87,22.110553,2.653597,Angoon,AK,57.44,-134.48
31775,99824,"58.236906, -134.383425",2087,80.05,26.071205,2.881481,Douglas,AK,58.26,-134.40
31776,99825,"58.087560, -136.288284",76,0.73,104.109589,5.758118,Elfin Cove,AK,58.16,-135.74
31777,99826,"58.659411, -135.712779",429,0.83,516.867470,12.829944,Gustavus,AK,58.42,-135.78
31778,99827,"59.254299, -135.931990",2520,2.03,1241.379310,19.883252,Haines,AK,59.16,-135.86
31779,99829,"58.115307, -135.404781",976,81.65,11.953460,1.951111,Hoonah,AK,58.11,-135.40
31780,99830,"56.977698, -133.904393",710,84.79,8.373629,1.633022,Kake,AK,56.79,-134.19
31781,99832,"57.974105, -136.102505",176,2.18,80.733945,5.070646,Pelican,AK,57.95,-136.11
31782,99833,"56.787275, -133.516616",3459,1.36,2543.382353,28.460400,Petersburg,AK,57.05,-132.62
31783,99835,"57.126776, -135.174406",8787,30.50,288.098361,9.578678,Sitka,AK,56.73,-135.00
31784,99840,"59.556451, -135.347437",862,2.00,431.000000,11.715850,Skagway,AK,59.57,-135.35
31785,99841,"57.815465, -135.075874",107,2.17,49.308756,3.962755,Tenakee Springs,AK,57.79,-135.18
31786,99850,"58.414534, -135.345832",10,0.18,55.555556,4.206287,Juneau,AK,58.43,-135.38
31787,99901,"55.515699, -131.622228",14030,34.66,404.789383,11.354022,Ketchikan,AK,55.61,-131.58
31788,99903,"55.689879, -132.195857",24,0.94,25.531915,2.851523,Meyers Chuck,AK,55.68,-132.19
31789,99918,"55.992434, -132.839032",230,12.14,18.945634,2.456347,Coffman Cove,AK,55.97,-132.74
31790,99919,"55.661538, -132.528858",562,16.20,34.691358,3.323884,Thorne Bay,AK,55.57,-132.39
31791,99921,"55.415683, -132.875734",1906,15.97,119.348779,6.165157,Craig,AK,55.46,-132.83
31792,99922,"55.307528, -133.046815",385,1.67,230.538922,8.568549,Hydaburg,AK,55.20,-132.81
31793,99923,"55.983313, -130.041842",97,6.60,14.696970,2.163461,Hyder,AK,55.97,-130.04
31794,99925,"55.550204, -132.945933",955,18.12,52.704194,4.096923,Klawock,AK,55.54,-132.96
31795,99926,"55.138064, -131.470784",1447,10.59,136.638338,6.596620,Metlakatla,AK,55.14,-131.49
31796,99927,"56.334985, -133.555295",120,7.63,15.727392,2.238018,Point Baker,AK,56.30,-133.57
31797,99929,"56.182611, -132.080653",2424,2.30,1053.913043,18.320510,Wrangell,AK,56.41,-131.61
31798,99950,"55.877201, -131.452227",36,0.36,100.000000,5.643326,Ketchikan,AK,55.34,-131.64

In [191]:
rent = pd.read_csv("Zip_ZriPerSqft_AllHomes.csv")

In [192]:
rent.rename(columns={"RegionName":"zip"},inplace=True)
rent["zip"] = rent["zip"].astype(str).str.zfill(5)
rent.sort_values("zip",inplace=True)

rent.set_index("zip",inplace=True)

In [193]:
rent = pd.DataFrame(rent.iloc[:,-5:].mean(axis=1))

In [194]:
rent.columns = ["rent"]

In [195]:
rent.reset_index(inplace=True)

In [196]:
regr=pd.merge(rent,city,on="zip")

In [197]:
regr = pd.merge(regr,area,on="zip")

In [199]:
from sklearn import linear_model
import statsmodels.api as sm

In [204]:
regr = regr[["zip","rent","population","density","area"]]

In [205]:
x = regr.columns[2:]
y = regr.columns[1]
X = regr[x]
Y = regr[y]

lm = linear_model.LinearRegression()
lm.fit(X, Y)
r_sq = lm.score(X,Y)

intercept = lm.intercept_
coef = list(lm.coef_)
regr_df = pd.DataFrame()
index = ["R^2","intercept"] + list(x)
coef = [r_sq,intercept] + coef
regr_df["index"] = index
regr_df["coef"] = coef

In [208]:
regr_df

        index      coef
0  R^2         0.297379
1  intercept   0.963605
2  population  0.000001
3  density     0.000045
4  area       -0.000268

In [78]:
# city = pd.read_csv("zip_code_city.csv",dtype={"Zip":"str"})
# zip_df1 = pd.merge(zip_df,city,on="Zip")
# zip_df1