In [128]:
import pandas as pd
import math
from sqlalchemy import create_engine

In [129]:
df = pd.read_html("http://zipatlas.com/us/zip-code-comparison/population-density.1.htm")

In [99]:
#saving column names
column = df[10][:1].values.tolist()[0]
column

['#',
 'Zip Code',
 'Location',
 'City',
 'Population',
 'People / Sq. Mile',
 'National Rank']

In [100]:
zip_df = pd.DataFrame()
for p in range(1,318+1):
    #10th table of site and reading from 2nd row since first row returns columns
    apnd = pd.read_html(f"http://zipatlas.com/us/zip-code-comparison/population-density.{p}.htm")[10][1:]
    #set columns
    apnd.columns = column
    #concat to empty dataframe created before for loop
    zip_df = pd.concat([zip_df,apnd])
    print(p)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318

In [101]:
#selecting columns to conserve
zip_df = zip_df[["Zip Code","Location","Population","People / Sq. Mile"]]

In [102]:
#renaming columns
zip_df.columns = ["zip","coordinates","population","density"]

In [103]:
#setting population and density columns as numeric values for calculation
zip_df["population"] = zip_df["population"].astype(int)
zip_df["density"] = zip_df["density"].astype(float)
zip_df.dtypes

zip             object
coordinates     object
population       int32
density        float64
dtype: object

In [104]:
#population density = population / area
zip_df["area"] = zip_df["population"] / zip_df["density"]

In [105]:
#area = pi r^2
zip_df["radius"] = (zip_df["area"]/3.14)**(.5)

In [106]:
#sort values
zip_df.sort_values("zip",inplace= True)

In [107]:
#creating sqlite database to store
con = create_engine("sqlite:///zip_data0.sqlite")
zip_df.to_sql("area",con,if_exists="replace",index=False)
#also as in csv for backup
zip_df.to_csv("zip_area.csv",index=False)

In [131]:
con.table_names()

['area', 'crime']

In [133]:
area = pd.read_sql("area",con)
city = pd.read_sql("city",con)

In [135]:
city

         zip             city state    lat     lon
0      00501       Holtsville    NY  40.81  -73.04
1      00544       Holtsville    NY  40.81  -73.04
2      00601         Adjuntas    PR  18.16  -66.72
3      00602           Aguada    PR  18.38  -67.18
4      00603        Aguadilla    PR  18.43  -67.15
5      00604        Aguadilla    PR  18.43  -67.15
6      00605        Aguadilla    PR  18.43  -67.15
7      00606          Maricao    PR  18.18  -66.98
8      00610           Anasco    PR  18.28  -67.14
9      00611          Angeles    PR  18.28  -66.79
10     00612          Arecibo    PR  18.45  -66.73
11     00613          Arecibo    PR  18.45  -66.73
12     00614          Arecibo    PR  18.45  -66.73
13     00616         Bajadero    PR  18.42  -66.67
14     00617      Barceloneta    PR  18.45  -66.56
15     00622         Boqueron    PR  17.99  -67.15
16     00623        Cabo Rojo    PR  18.08  -67.14
17     00624         Penuelas    PR  18.06  -66.72
18     00627            Camuy    PR  18.48  -66.84
19     00631         Castaner    PR  18.19  -66.82
20     00636          Rosario    PR  18.15  -67.06
21     00637    Sabana Grande    PR  18.08  -66.96
22     00638           Ciales    PR  18.33  -66.47
23     00641           Utuado    PR  18.27  -66.70
24     00646           Dorado    PR  18.47  -66.27
25     00647         Ensenada    PR  17.96  -66.94
26     00650          Florida    PR  18.36  -66.56
27     00652      Garrochales    PR  18.45  -66.60
28     00653          Guanica    PR  17.99  -66.89
29     00656       Guayanilla    PR  18.02  -66.79
...      ...              ...   ...    ...     ...
42602  99811           Juneau    AK  58.47 -134.15
42603  99812           Juneau    AK  58.28 -134.40
42604  99820           Angoon    AK  57.44 -134.48
42605  99821         Auke Bay    AK  58.30 -134.42
42606  99824          Douglas    AK  58.26 -134.40
42607  99825       Elfin Cove    AK  58.16 -135.74
42608  99826         Gustavus    AK  58.42 -135.78
42609  99827           Haines    AK  59.16 -135.86
42610  99829           Hoonah    AK  58.11 -135.40
42611  99830             Kake    AK  56.79 -134.19
42612  99832          Pelican    AK  57.95 -136.11
42613  99833       Petersburg    AK  57.05 -132.62
42614  99835            Sitka    AK  56.73 -135.00
42615  99836   Port Alexander    AK  56.24 -134.65
42616  99840          Skagway    AK  59.57 -135.35
42617  99841  Tenakee Springs    AK  57.79 -135.18
42618  99850           Juneau    AK  58.43 -135.38
42619  99901        Ketchikan    AK  55.61 -131.58
42620  99903     Meyers Chuck    AK  55.68 -132.19
42621  99918     Coffman Cove    AK  55.97 -132.74
42622  99919       Thorne Bay    AK  55.57 -132.39
42623  99921            Craig    AK  55.46 -132.83
42624  99922         Hydaburg    AK  55.20 -132.81
42625  99923            Hyder    AK  55.97 -130.04
42626  99925          Klawock    AK  55.54 -132.96
42627  99926       Metlakatla    AK  55.14 -131.49
42628  99927      Point Baker    AK  56.30 -133.57
42629  99928        Ward Cove    AK  55.45 -131.79
42630  99929         Wrangell    AK  56.41 -131.61
42631  99950        Ketchikan    AK  55.34 -131.64

[42632 rows x 5 columns]

In [78]:
# city = pd.read_csv("zip_code_city.csv",dtype={"Zip":"str"})
# zip_df1 = pd.merge(zip_df,city,on="Zip")
# zip_df1